<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registration</title>
    <link rel="stylesheet" href="css/style-registration.css">
</head>
<body>
<header>
    <h1>Регистрация</h1>
</header>
        <form id="appreg"
              @submit="checkForm"
              action="http://localhost:8080/registration"
              method="post"
              novalidate="true"
        >
            <div v-if="error != null" class="alert alert-danger">{{err_msg}}</div>
            <p class="errorchik" v-if="errors.length">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
            <p class="errorchik" v-for="error in errors">{{ error }}</p>
            </ul>
            </p>
            <div class="mainArea">
                <p>
                    <label for="email"><i class="e">Логин</i></label>
                    <br/>
                    <input
                            id="email"
                            v-model="email"
                            type="email"
                            name="email"
                            placeholder="Введите Логин"
                    >
                </p>
                <p>
                    <label for="password"><i class="e">Пароль</i></label>
                    <br/>
                    <input
                            id="password"
                            v-model="password"
                            type="password"
                            name="password"
                            placeholder="Введите Пароль"
                    >
                </p>
            </div>
            <p>
                <input
                        type="submit"
                        value="Зарегистрироваться"
                >
            </p>
        </form>
        <input type="button" value="На главную" name="back" onclick="back()">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>
    let urlP = new URLSearchParams(window.location.search);
    var app = new Vue({
        el: '#appreg',
        data: {
            error: urlP.get('error'),
            errors: [],
            email: null,
            password: null,
            err_msg: 'Registration failed. User exists'
        },
        methods: {
            checkForm: function (e) {
                this.errors = [];
                alert(this.email);
                if (!this.email){
                    this.errors.push('Укажите логин')}
                // } else if (!this.validEmail(this.email)){
                //     this.errors.push('Укажите корректный Логин')
                // }

                if (!this.password){
                    this.errors.push('Укажите пароль')
                }

                if (!this.errors.length) {
                    return true;
                }

                e.preventDefault();
            },
            validEmail: function (email) {
                return false;
            }
        }
    });

    function back()
    {
        window.location = "main.html"
    }
</script>
</body>
</html>